:root {
    --paleblue: hsl(225, 100%, 94%);
    --brighblue: hsl(245, 75%, 52%);
    --varypaleblue: hsl(225, 100%, 98%);
    --desaturatedblue: hsl(224, 23%, 55%);
    --darkblue: hsl(223, 47%, 23%);
}

* {
    font-family: "Red-Hat-Display", sans-serif;
}